
.filterbar{
    display: flex;
    gap: 30px;
    padding: 25px 18px;
}
.filterContainer{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, rgb(255, 246, 200) 0%, rgb(255, 215, 245) 48%, rgb(190, 179, 255) 100%);
}
.selectData{
    display: flex;
    /* justify-content: flex-start; */
    margin: 15px 0px;
    
    /* padding-right: 12px; */
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.Data_container{
    display: grid;
    grid-template-columns: 400px auto;
}
.box{
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
}
.selectOption{
  display: flex;  
  flex-direction: column;
}
.filterByPrice {
   
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.filterByPrice div{
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 15px;
    margin-top: 25px;
    
}
.marquee{
    display: none;
}
.button_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button_container Button{
    background-color: aquamarine;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: rgb(29, 27, 27);
    outline: none;
    font-weight: 500;
    display: flex;
    padding: 5px 8px !important;
    margin-left: 15px;
}
.card{
    border: 1px solid red;
}
.price{
    margin-top: 10px;
    font-size: 20px;
}
.name{
    margin-bottom: 7px;
    font-size: 20px;
    color: gray;
}
/* Media Query */

@media screen and (max-width: 560px) {
    .box{
        
        grid-template-columns: repeat(2,1fr);
       
    }
    .Data_container{
        grid-template-columns: repeat(1,1fr);
    }
    .filterbar{
        display: flex;
        justify-content: space-around;
        
    }
    .selectData{
        display: none;
    }
    .filterbar{
        font-size: 10px;
        font-weight: 600;
        /* padding: 15px; */
        display: flex;
        gap: 10px;
       
    }
    .sidebar{
        display: none;
    }
    .navlink{
        background-color: azure;
        padding: 5px 8px;
        border-radius: 5px;
    }
    .marquee{
        display: block;
    }
    .button_container Button{
        background-color: aquamarine;
        display: flex;
       margin-left: 10px;
        padding: 5px 8px !important;
        overflow: hidden;
    }
  }
