.homepaoldeMain {
  margin: 1vw;
  /* only margin */
}

.firstSwiper {
  width: 100%;
}

.swiper > img {
  width: 100%;
}
.ankletRing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ankletRing > img {
  width: 97%;
}
.ringRight {
  width: 50vw;
}

.ringRight > img {
  width: 100%;
  height: 45.5%;
}

.category6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.category6 > img {
  width: 95%;
  margin: auto;
  margin-bottom: 1vw;
  transition: transform 0.2s;
}

.category6 > img:hover {
  transform: scale(1.01);
}

.collection {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2vw;
  overflow: hidden;
}

.collection__innerdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}

.collection__innerdiv > img {
  width: 100%;
  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.collection__innerdiv > img:hover {
  transform: scale(1.1);
}
.collection > img {
  width: 30%;
  height: 100%;
  margin: auto;
  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.collection > img:hover {
  transform: scale(1.1);
}

.button > button {
  margin-top: 5vh;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(65, 29, 95, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #8863fb, #de57e5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  cursor: pointer;
}

.button > button:hover {
  box-shadow: none;
  color: white;
}

.milestone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.milestone > img {
  width: 95%;
  margin: auto;
  padding: 20px 0;
}

.goldExchange {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f7f0ee;
}

.goldExchangetext {
  text-align: left;
  margin: auto;
  padding: 0 50px;
}

.goldExchangetext > p {
  color: #6a6176;
}

.goldExchangetext > button {
  border: 0px;
  padding: 0.5rem 2rem;
  background: linear-gradient(
      to right,
      rgb(222, 87, 229) 0%,
      rgb(136, 99, 251) 100%
    )
    0px 0px / auto;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
}
.trustTanishq {
  background-color: #231535;
}

.trustTanishq > p {
  color: #c4ade1;
}

.trustTanishq > button {
  margin: 5vh;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1rem;
  padding: 0.5rem 3rem;
  box-shadow: 0 0 6px 0 rgba(65, 29, 95, 0.5);
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #8863fb, #de57e5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-color: #231535;
  box-shadow: 2px 1000px 1px #fff inset;
  cursor: pointer;
}

.spriteImage {
  background-color: #231535;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: auto;
}

.spriteImage h3 {
  color: white;
  /* font-size: 1rem; */
}

.spriteImage p {
  color: rgb(196, 173, 225);
}

.spriteImage img {
  width: 10vw;
}

.spriteImage > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30vw;
}
.instaMain {
  margin-top: 20vh;
}
.insta p {
  color: #9d9fa4;
  font-size: 2.2rem;
  line-height: 44px;
  text-align: center;
  padding: 0 100px;
}
.instap p {
  color: black;
}

.shopInsta {
  margin-top: 20vh;
}

.caratStory {
  display: flex;
  justify-content: space-between;
}

.caratStory > h2 {
  font-size: 2.4rem;
  font-family: BegumMedium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 24px;
  position: relative;
  margin: 0px 0px 40px;
  color: rgb(51, 54, 62);
}
.caratStory > span {
  font-family: BegumLight, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  color: rgb(51, 54, 62);
}

.instaSmall {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.instaBig {
  display: flex;
  overflow: hidden;
}

.instaBig > img {
  width: 40%;
  transition: transform 0.5s, filter 1.5s ease-in-out;
}
.instaSmall > img {
  width: 100%;
  transition: transform 0.5s, filter 1.5s ease-in-out;
}

.instaBig > img:hover {
  transform: scale(1.1);
}

.instaSmall > img:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 990px) {
  .spriteImage > div {
    flex-direction: column;
  }

  .spriteImage p {
    display: none;
  }
  .spriteImage he {
    font-size: 0.8rem;
  }
  .goldExchangetext > button {
    font-size: 1rem;
  }

  .goldExchangetext h1 {
    font-size: 1.5rem;
  }
  .insta p {
    font-size: 1.3rem;
  }
  .caratStory > h2 {
    font-size: 1.5rem;
  }
  .caratStory > span {
    font-size: 1.5rem;
  }
  .instaBig {
    flex-direction: column;
  }
  .instaBig > img {
    width: 100%;
  }
}

@media screen and (max-width: 560px) {
  .firstSwiper {
    width: 100%;
  }
  .goldExchange {
    grid-template-columns: repeat(1, 1fr);
  }
  .caratStory {
    flex-direction: column;
  }
  .category6 {
    grid-template-columns: repeat(2, 1fr);
  }
  .ankletRing {
    grid-template-columns: repeat(1, 1fr);
  }
  .ankletRing > img {
    width: 100%;
  }
  .ringRight {
    width: 100%;
  }
}
