* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.container{
    margin-top: 5rem;
    width: 100%;
    
}

.banner__container>img{
    position: relative;
    display: block;
    width: 100%;
}
.text_container{
   position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    /* z-index: 1; */
   /* -webkit-transform: translateY(-50%); 
      -ms-transform: translateY(-50%);   */
    transform: translateY(-50%);
}
.text_container > div{
    padding: 4rem;
    width: 50%;
    text-align: left;
}

.text_container > div >h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  font-weight: 200;
}
.button__div{
    display: flex;
   
   gap: 4rem;
}
.button__div button{
    height: 48px;
    font-size: 1.8rem;
}
.button__play{
    display: block;
    /* background: #8863fb; */
    background: linear-gradient(to right,#de57e5,#8863fb);
    padding: 8px 24px;
    min-height: 38px;
    width: 18vw;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'MuliBold','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* -webkit-text-decoration: none; */
    text-decoration: none;
}
.button__div a{
    font-size: 1.8rem;
    color: #ffffff;
    font-family: 'MuliSemiBold','Helvetica Neue',Helvetica,Arial,sans-serif;
    display: inline-block;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.how_it_works{
    display: flex;
    text-align: left;
    padding: 4rem;
}
.how_it_works__child{
    flex: 2;
}
.how_it_works__child h1{
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: serif;
    font-size: 3rem;
    font-weight: 200;
}
.how_it_works__child p{
    margin-top: 5rem;
    color: #8863fb;
}
.how_it_works__child2{
    flex: 1;
    padding: 4rem ;
}
.how_it_works__child2 div:first-child {
  display: flex;
  justify-content: space-between;
}
.how_it_works__child2__inner{
    display: grid;
    grid-template-columns: 30% 65%;
    justify-content: space-between;
    padding: 2rem;
}
.how_it_works__child2__inner img{
    width: 120px;
}
.how_it_works__child2__inner h2{
    font-weight: 400;
}
.how_it_works__child2__inner p{
    font-weight: 200;
    font-size: 1.1rem;
}
.input__and__button {
    width: 100%;
    height: 50px;
    margin: 10px auto;
    position: relative;
    display: flex;
  }
  .input__wrapper {
    font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
  }
  .input__wrapper input {
    width: 100%;
    height: 50px;
    padding: 8px 125px 8px 40px;
    /* font-size: 1.4rem; */
    color: black;
    font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-color: black;
  }
  .location__logo {
    background: url(https://assets.cltstatic.com/images/responsive/spriteImage1.png)
      no-repeat;
    width: 18px;
    height: 17px;
    background-size: 832px auto;
    display: block;
    cursor: pointer;
    background-position: -697px -65px;
    width: 18px;
    height: 19px;
    background-position: -587px -750px;
    width: 19px;
    height: 22px;
    position: absolute;
    padding-right: 24px;
    top: 14px;
    left: 10px;
  }
  .location__input {
    font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    text-align: left;
    color: #333333;
    padding: 0;
    margin: 0;
    line-height: 2;
    width: 100%;
    height: inherit;
    border: #e9e9e9 1px solid;
    border-radius: 4px;
    cursor: text;
    outline: none;
    /* width: 70%; */
  }
  input {
   
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    /* -webkit-rtl-ordering: logical; */
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    background-color: transparent;
  }
  .location__input__btn {
    outline: none;
    user-select: none;
    /* -webkit-tap-highlight-color: transparent; */
    border-radius: 0px 5px 5px 0px;
    box-sizing: border-box;
    background: linear-gradient(to right, rgb(222, 87, 229), rgb(136, 99, 251))
      transparent;
    border: 1px solid rgb(136, 99, 251);
    width: 121px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: MuliSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px;
    opacity: 1;
    cursor: pointer;
  }
  .preferred__btn{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  .preferred__btn button{
    background-color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 4px;
    color: #848484;
    border: 1px solid #cfcfcf;
    cursor: pointer;
  }
.chartImg{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.price{
    /* margin-top: 1rem; */
    display: flex;
   
    justify-content: space-between;
}
.price h2{
    font-size: 1.4rem;
    font-weight: 400;
}
hr{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.price h2 p{
    font-size: 1.1rem;
    font-weight: 400;
}
.banner__container2{
    width: 100%;
}
.banner__container2 img{
    width: 100%;
}
.text_container2{
    position: absolute;
    top: 390%;
    left: 45%;
    width: 80%;
    text-align: center;
    color: black;
    /* -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
    transform: translate(-50%,-50%);
}
.text_container2 > div{
    /* padding: 4rem; */
    width: 70%;
    text-align: left;
}

.text_container2 > div >h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 2rem;
}
.text_container2 > div >p{
    margin-bottom: 2rem;
    color: #8863fb;
  }
  .child2{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .child2__img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .child2__img img{
    margin: auto;
    width: 8rem;
  }
  .child2__img p{
    font-size: 1.4rem;
    font-family: serif;
  }
  .child2__input{
    margin-top: 2rem;
   width: 100%;
   padding-left: 4rem;

  }
  .child2__input p{
    font-size: 1rem;
    font-family: MuliRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(132, 132, 132);
    margin-bottom: 0.5rem;
  }
  .child2__input input{
    width: 80%;
    height: 2.4rem;
    border-radius: 5px;
    border: 1px solid #8863fb;;
  }
  .child2__input button{
    margin-top: 2rem;
    display: block;
    width: 80%;
    /* background: #8863fb; */
    background: linear-gradient(to right,#de57e5,#8863fb);
    padding: 10px 24px;
    min-height: 38px;
    /* width: 18vw; */
    text-align: center;
    font-size: 1.1rem;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'MuliBold','Helvetica Neue',Helvetica,Arial,sans-serif;
    /* -webkit-text-decoration: none; */
    text-decoration: none;
    border: none;
  }
  .Accordian {
    text-align: left;
    display: flex;
    flex-direction: column;
   
}
.Accordian h1{
    font-family: serif;
    margin-bottom: 2rem;
    padding-left: 2rem;
    font-weight: 300;
}

.AccordianBtn{
    /* height: 2rem; */
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #333333;
    font-size: 1.4rem;
    padding-left: 2rem;
}
.AccordianPanel{
    padding-left: 2rem;
    font-size: 1.2rem;
}