* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.main__container {
  margin-top: 5rem;
}
.video__container {
  position: relative;
}
.video__container video {
  width: 100%;
}

.video__mob {
  display: none;
}
.text__container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  /* z-index: 1; */
  /* -webkit-transform: translateY(-50%); 
    -ms-transform: translateY(-50%);  */
  transform: translateY(-50%);
}
.text {
  font-size: 3.8rem;
  /* font-family: 'BegumRegular','Helvetica Neue',Helvetica,Arial,sans-serif; */
  font-family: "latobold";
  font-weight: normal;
}
.input__and__button {
  width: 303px;
  height: 50px;
  margin: 10px auto;
  position: relative;
  display: flex;
}
.input__wrapper {
  font-family: "InterRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}
.input__wrapper input {
  width: 100%;
  height: 50px;
  padding: 8px 125px 8px 40px;
  /* font-size: 1.4rem; */
  color: #fff;
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-color: #fff;
}
.location__logo {
  background: url(https://assets.cltstatic.com/images/responsive/spriteImage1.png)
    no-repeat;
  width: 18px;
  height: 17px;
  background-size: 832px auto;
  display: block;
  cursor: pointer;
  background-position: -697px -65px;
  width: 18px;
  height: 19px;
  background-position: -587px -750px;
  width: 19px;
  height: 22px;
  position: absolute;
  padding-right: 24px;
  top: 14px;
  left: 10px;
}
.location__input {
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-align: left;
  color: #333333;
  padding: 0;
  margin: 0;
  line-height: 2;
  width: 100%;
  height: inherit;
  border: #e9e9e9 1px solid;
  border-radius: 4px;
  cursor: text;
  outline: none;
  /* width: 70%; */
}
input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  /* -webkit-rtl-ordering: logical; */
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  background-color: transparent;
}
.location__input__btn {
  outline: none;
  user-select: none;
  /* -webkit-tap-highlight-color: transparent; */
  border-radius: 0px 5px 5px 0px;
  box-sizing: border-box;
  background: linear-gradient(to right, rgb(222, 87, 229), rgb(136, 99, 251))
    transparent;
  border: 1px solid rgb(136, 99, 251);
  width: 121px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: MuliSemiBold, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  opacity: 1;
  cursor: pointer;
}
.video__player {
  background: url(https://assets.cltstatic.com/images/responsive/spriteImage1.png)
    no-repeat;
  width: 18px;
  height: 17px;
  background-size: 832px auto;
  display: block;
  cursor: pointer;
  background-position: -762px -564px;
  width: 60px;
  height: 60px;
  display: block;
  margin: 20px auto;
}

.Two__Products {
  display: flex;
  /* -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; */
  align-items: center;
  padding: 6px;
  width: 100%;
}
.products {
  margin: 6px;
  padding: 24px;
  display: flex;
  background-color: #faece9;
  width: 50%;
  height: 200px;
}
.products img {
  margin-block-start: 1em;
}
.product__info {
  padding: 0 20px;
  width: calc(100% - 170px);
}
.product__info h3 {
  font-size: 2rem;
  display: block;
  font-family: "BegumMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: #231535;
  font-weight: normal;
}
.product__info p {
  font-size: 1.3rem;
  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #33363e;
  text-align: left;
}
h3 {
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
}
.options {
  width: 100%;
  padding: 40px;
}
.options__child {
  padding: 20px 0;
  text-align: center;
}
.options__child h1 {
  font-size: 2rem;
  font-family: "BegumMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 24px;
  position: relative;
  margin: 0 0 40px;
  color: #33363e;
  margin: 0 auto;
  color: #231535;
  font-size: 3.6rem;
  display: inline-block;
}
.options__child p {
  text-align: center;
  font-size: 1.8rem;
  color: #33363e;
  font-family: "MuliLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.option__images {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.option__section {
  display: flex;

  flex: 1 1 auto;

  align-items: flex-start;

  justify-content: center;
  text-align: center;
  color: #231535;
  padding: 2rem 0;
}
.option__section__div {
  padding: 2rem 4rem;

  flex-basis: 25%;
}
.option__section__span__div {
  display: inline-block;
  margin: 1rem auto;
  position: relative;
  vertical-align: middle;
}
.option__section__span {
  background: url(https://assets.cltstatic.com/images/responsive/spriteImage2.png)
    no-repeat;
  width: 22px;
  height: 20px;
  background-size: 832px auto;
  display: block;
  cursor: pointer;
  background-position: -260px -1257px;
  width: 5.3rem;
  height: 8.6rem;
}
.option__section__info__div h3 {
  font-size: 1.3rem;
  line-height: 3rem;
  font-family: "BegumMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #231535;
}
.bestseller {
  background-color: #f6f6f6;
  width: 100%;
  padding: 20px 0px 40px 0px;
  /* height: 800px; */
}
.bestseller_div {
  width: 50%;
  margin: 0 auto;
  padding: 24px 0 0;
}
.bestseller_div h2 {
  /* font-size: 3rem; */
  margin-top: 20px;
  color: #231535;
  display: inline-block;
}
.bestseller_h2 {
  font-size: 2.4rem;
  font-family: "BegumMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  padding-left: 24px;
  position: relative;
  margin: 0 0 40px;
  color: #33363e;
}

.input__box {
  width: 20rem;
  position: relative;
  margin: 0 auto;
}
.input__wrapper2 {
  width: 303px;
  height: 50px;
  margin: 10px auto;
  position: relative;

  display: flex;
  /* -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; */
  align-items: center;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #de57e5, #8863fb) border-box;
}
.input__wrapper2__span {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0.6rem;
  left: 1rem;
  background: url(https://assets.cltstatic.com/images/responsive/spriteImage1.png)
    top left no-repeat;
  background-size: 832px auto;
  background-position: -697px -65px;
  width: 1.8rem;
  height: 1.9rem;
}
.input__wrapper2__label {
  font-size: 0rem;
}
.input__wrapper2__input {
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  text-align: left;
  color: #33363e;
  padding: 0 2.4rem 0 3rem;
  margin: 0;
  line-height: 3.6rem;
  width: 20rem;
  height: 3.6rem;
  border: none;
  border-radius: 4px;
  cursor: text;
  outline: none;
}

.submit__btn {
  display: block;
  font-size: 1.4rem;
  width: 80%;
  height: 3.6rem;
  line-height: 3.6rem;
  border-radius: 0.4rem;
  color: #ffffff;
  text-align: center;
  margin: 1.6rem auto;
  /* background: #8863fb; */
  background: linear-gradient(to right, #de57e5 -95%, #8863fb 100%);
  cursor: pointer;
}
.input__box p {
  color: #9d9fa4;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 14rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
/* p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */
.locate__me {
  font-size: 1.2rem;
  padding: 0;
  text-align: center;
  color: #de57e5;
  width: 12.3rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 2.2rem;
  background-color: #f6eff6;
  margin: 1.6rem auto 3.2rem;
}
.locate__me__btn {
  cursor: pointer;
  height: 100%;
  width: 100%;

  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
} */

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  font-size: 1em;
  margin: 0;
}

.p__div p:first-child {
  font-size: 1.8rem;
  line-height: 32px;
  text-align: center;
  color: rgb(35, 21, 53);
  margin: 16px;
}
.p__div p:last-child {
  margin: 16px;
  font-size: 1.8rem;
  color: rgb(35, 21, 53);
  font-family: system-ui;
  font-weight: 100;
}
.customer__query {
  margin-top: 70px;
}
.customer__query h1 {
  font-family: serif;
  font-size: 3.8rem;
  color: rgb(35, 21, 53);
  font-weight: 200;
}
.customer_img {
  width: 200px;
}
.mySwiper p {
  font-size: 1.6rem;
}
.mySwiper .desc {
  font-size: 1.8rem;
}
.Accordian {
  display: flex;
  padding: 3rem;
  background-color: #f6f6f6;
}
.questions {
  flex: 1;
}
.questions h3 {
  font-size: 2rem;
  font-weight: 200;
  font-family: serif;
}
.Accordian_options {
  flex: 1;
}
.contact {
  background-color: white;
  display: flex;
  width: 90%;
}
.contact_call p {
  font-size: 1.2rem;
}
.contact img {
  width: 15%;
}
.a_href {
  font-family: "MuliSemiBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #8863fb;
  text-decoration: none;
}
.Accordian_options {
  padding: 2rem;
}
.AccordianBtn {
  margin-bottom: 2rem;
}
.AccordianBtn h2 {
  font-size: 1.2rem;
}
.AccordianPanel {
  text-align: left;
  font-size: 1.1rem;
}

@media screen and (max-width: 990px) {
  .main__container {
    width: 100%;
    /* max-height: 990px; */
    /* margin-bottom: 100px; */
  }
  .text__container h2 {
    font-size: 2rem;
  }

  .location__input {
    font-size: 1rem;
  }
  .location__input__btn {
    font-size: 0.8rem;
  }
  .Two__Products {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    padding: 0;
    margin: auto;
  }
  .products {
    width: 100%;
  }
  .options {
    width: 100%;
    padding: 40px;
  }
  .options__child h1 {
    font-size: 2rem;
  }
  .options__child p {
    font-size: 1.4rem;
  }
  .option__section {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .option__section__div {
    display: flex;
  }
  .option__section__span__div img {
    width: 80%;
    height: 70%;
  }
  .option__section__info__div h3 {
    font-size: 1rem;
  }
  .bestseller_h2 {
    font-size: 1.8rem;
  }
  .input__wrapper2 {
    width: 14rem;
  }
  .input__wrapper2__input {
    font-size: 0.8rem;
  }
  .submit__btn {
    width: 10rem;
    font-size: 1rem;
  }
  .locate__me {
    font-size: 1rem;
    width: 10rem;
  }
  .input__box p {
    font-size: 1rem;
  }
  .customer__query h1 {
    font-size: 2rem;
  }
  .mySwiper p {
    font-size: 1.4rem;
  }
  .mySwiper .desc {
    font-size: 1.2rem;
  }
  .Accordian {
    display: flex;
    flex-direction: column;
  }
  .customer_img {
    width: 100px;
  }
}
@media screen and (max-width: 560px) {
    .video__mob{
        display: block;
    }

    .video__dex{
        display: none;
    }
}